<script>
  $(document).on('click', '.nav-link.active', function() { 
 var href = $(this).attr('href').substring(1); 
 alert(href); 
 $(this).removeClass('active'); 
 $('.tab-pane[id="' + href + '"]').removeClass('active'); 
 
});
</script>

<div class="container"style="margin-top: 70px;">
  <ul class="nav nav-pills">
    <li class="active"><span class = "nav-link active" data-target="#tab1" data-toggle="tab" id="11" [ngClass]="{ 'active':activeTab==='tab1'}" (click)="search('tab1')" >SupplyData Report</span></li>
    <li class="nav-item text-info"><span class = "nav-link" data-target="#tab2" data-toggle="tab"id="11" [ngClass]="{ 'active':activeTab==='tab2'}" (click)="search('tab2')">Summary Report</span></li>
    <li class="nav-item text-warning"><span class = "nav-link" data-target="#tab3" data-toggle="tab"id="11" [ngClass]="{ 'active':activeTab==='tab3'}" (click)="search('tab3')">TransportData Report</span ></li>
    <li class="nav-item text-danger"><span class = "nav-link" data-target="#tab5" data-toggle="tab" id="11" [ngClass]="{ 'active':activeTab==='tab5'}" (click)="search('tab5')">Site Report</span ></li>
    <li class="nav-item text-primary"><span class = "nav-link" data-target="#tab4" data-toggle="tab"id="11" [ngClass]="{ 'active':activeTab==='tab4'}" (click)="search('tab4')">Fuel Report</span ></li>
    <li class="nav-item text-success"><span class = "nav-link" data-target="#tab6" data-toggle="tab" id="11" [ngClass]="{ 'active':activeTab==='tab6'}" (click)="search('tab6')">Material Chart</span ></li>
    <li class="nav-item"><span class = "nav-link disabled" data-target="#tab7" data-toggle="tab" data-toggle="tab" id="11" [ngClass]="{ 'active':activeTab==='tab7'}" (click)="search('tab7')">Dummy Bar Chart</span ></li>
   </ul>
  <div class="tab-content">
      <!--first Tab Add Agency-->
      <div class="tab-pane active" id="tab1" [ngClass]="{ 'active':activeTab==='tab1'}" >
          <div>
            <app-accounts-grid-rpt></app-accounts-grid-rpt>
          </div>       
      </div>
      <!--Second Tab Edit Agency-->
      <div class="tab-pane" id="tab2" [ngClass]="{'active':activeTab==='tab2'}"  >
       
         
            <div>
            <app-transporter-grid-rpt></app-transporter-grid-rpt>
          </div>
          
        
         <!-- <div class="form-group col-sm-10 my-lg-5 w-50">
            <app-transporter-grid-rpt></app-transporter-grid-rpt>
          </div> -->      
      </div>

      <!--Third Tab site details-->
      <div class="tab-pane" id="tab3" [ngClass]="{ 'active':activeTab==='tab3'}" >
        
            <app-agency-grid-rpt></app-agency-grid-rpt>   
              
      </div>
      <!--Fourth Tab new Material details-->
      <div class="tab-pane" id="tab4" [ngClass]="{ 'active':activeTab==='tab4'}"  >
        <app-site-chart-rpt></app-site-chart-rpt>
      </div>
<!--Fifth Tab Material Rate details-->
      <div class="tab-pane" id="tab5" [ngClass]="{ 'active':activeTab==='tab5'}" >
          
            <app-site-grid-rpt></app-site-grid-rpt>
               
      </div>

    <!--sixth Tab Vehicle details-->
      <div class="tab-pane" id="tab6" [ngClass]="{ 'active':activeTab==='tab6'}" >
        <app-materials-chart-rpt></app-materials-chart-rpt>
      </div>

  <!--seventh Tab user details-->
      <div class="tab-pane" id="tab7" [ngClass]="{ 'active':activeTab==='tab7'}" >
              <div class="form-group col-sm-10 my-lg-5 w-50">
                <div>
                  <div style="display: block">
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                    </canvas>
                  </div>
                </div>  


              </div>
      </div>



      















  <!------------------ End--------------------------->
</div>
</div>


