<div class="container"style="margin-top: 70px;">

  <div class="form-group col-sm-10 my-lg-5 w-50">
    <div style="display: block">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType">
        </canvas>
    </div>
  </div>  

</div>