<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

    <a class="navbar-brand text-center" href="/home">SSB Constructions</a>

    <li class="nav-item">           <!--navbar-right">-->
      <img src="assets/image/SSBLogo.png" width = "65px" alt="Logo">
    </li>


  <!-- Toggler/collapsibe Button 

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="navbarCollapse" *ngIf="showlinks">
    <ul class="nav navbar-nav ml-auto topnav ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/supplyform">Supply Data Entry</a>
        </li>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Finance</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/finance">Finance Entry</a>
                <a class="dropdown-item" routerLink="/financereport">Finance Report</a>
              </div>
          </li>
        </ul>
        <li class="nav-item">
          <a class="nav-link" routerLink="/misc-data-entry">Misc Entry</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" routerLink="/action-tabs">Admin</a>
        </li>-->

        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Fuel</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/fuelpurchase">Fuel Purchase</a>
                <a class="dropdown-item" routerLink="/fueldist">Fuel Distribution</a>
                <a class="dropdown-item" routerLink="/machinery">Machinery / Vehicle </a>
                <a class="dropdown-item" routerLink="/fuelreport">Fuel Report</a>
                <a class="dropdown-item" routerLink="/machineryreport">Machinery Report</a>
              </div>
          </li>
        </ul>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
          <ul class="submenu dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="/action-tabs">Action</a></li>
            <li><a routerLink="/report">Reports</a></li>

          </ul>
       </li>
          
    </ul>

    

    <!--<ul class="nav navbar-nav">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>-->

  </div>
</nav>