<!-- Footer -->


<footer class="page-footer font-small">

  <!-- Footer Links -->
      <div class="container text-center">
         <!-- Content -->
          <p>© 2021 Copyright - SSB Constructions</p>
      </div>

</footer>
<!-- Footer -->