<div class="container"style="margin-top: 70px;">
<div class="form-group col-sm-10 my-lg-5 w-50">
  <div>
    <div style="display: block">
        <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"></canvas>
      </div>
  </div>

</div>     
</div>