<div class="container overflow-auto" style="margin-top: 80px;">
  <div class="jumbotron" style= "width: 500px; background-color: lightgoldenrodyellow" *ngIf="!showMsg">


<h2>Login</h2>
<div class="form-group col-sm-10 my-lg-5 w-50" >
    <div class=" form-group">
        <input class="form-control" type="text" placeholder="Enter UserName" id="example-text-input" name="username" [(ngModel)]="username" >
    </div>
    <div class=" form-group ">
        <input class="form-control" type="password" placeholder="Enter Password" id="example-text-input" name="password" [(ngModel)]="password" >
    </div>
    <button type="submit" (click)="loginCheck()" class="btn btn-success" size="12">Login</button>
</div> 
<div class="row"  *ngIf="failure">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Login failure.Please enter correct details.</strong> 
      </p>
    </div>
  </div>    
  </div>
</div>