<script>
   $(document).on('click', '.nav-link.active', function() { 
  var href = $(this).attr('href').substring(1); 
  alert(href); 
  $(this).removeClass('active'); 
  $('.tab-pane[id="' + href + '"]').removeClass('active'); 
  
});
</script>
<div class="container"style="margin-top: 70px;">
    <ul class="nav nav-pills">
        <li class="active"><span class = nav-link data-target="#tab1"  data-toggle="tab" id="11" [ngClass]="{ 'active':activeTab==='tab1'}" (click)="search('tab1')" >Add Agency</span></li>
        <li>               <span class = nav-link data-target="#tab2" data-toggle="tab" id="12" [ngClass]="{ 'active':activeTab==='tab2'}" (click)="search('tab2')">Edit Agency</span></li>
        <li>               <span class = nav-link data-target="#tab3" data-toggle="tab" id="13" [ngClass]="{ 'active':activeTab==='tab3'}" (click)="search('tab3')">Add New Site Details</span ></li>
        <li>               <span class = nav-link data-target="#tab4" data-toggle="tab" id="14" [ngClass]="{ 'active':activeTab==='tab4'}" (click)="search('tab4')">Update Site Details</span ></li>
        <li>               <span class = nav-link data-target="#tab5" data-toggle="tab" id="15" [ngClass]="{ 'active':activeTab==='tab5'}" (click)="search('tab5')">Material</span ></li>
        <li>               <span class = nav-link data-target="#tab6" data-toggle="tab" id="16" [ngClass]="{ 'active':activeTab==='tab6'}" (click)="search('tab6')">Material Rate</span ></li>
        <li>               <span class = nav-link data-target="#tab7" data-toggle="tab" id="17" [ngClass]="{ 'active':activeTab==='tab7'}" (click)="search('tab7')" >Vehicle</span ></li>
      <!-- <li>            <span class = nav-link data-target="#tab8" data-toggle="tab" id="18" [ngClass]="{ 'active':activeTab==='tab8'}" (click)="search('tab8')">User</span ></li>-->
    
        </ul>
    <div class="tab-content">
        <!--first Tab Add Agency-->
         <div class="tab-pane active" id="tab1" [ngClass]="{ 'active':activeTab==='tab1'}" >
        <div class="row" *ngIf="!showMsg">           
            <div class="form-group col-sm-10 my-lg-5 w-50">
                <div>
                    <label>Add Supplier Details :</label> <br>
                    <label class="mr-2">  AgencyName  <input type="text" name="newagency" [(ngModel)]="newagency"/></label>
                </div>
                <div class= "d-inline-flex"> 
                        <label class="mr-2"><input type="checkbox" name = "supplier" [(ngModel)]="issupplier" value="supplier" class="mr-1" >Is He A Supplier</label>
                </div>
                <div class= "d-inline-flex">
                        <label class="mr-2"><input type="checkbox" name = "transporter" [(ngModel)]="istransporter" value="transporter" class="mr-1">Is He A Tranporter</label>
                </div>
                <div class= "row d-inline-flex p-3">
                        <label class="mr-2"><input type="checkbox" name = "accholder" [(ngModel)]="isaccholder" value="accholder" class="mr-1">Is He A Account Holder</label>
                </div>
                <div class= "d-inline-flex"> 
                    <label class="mr-2"><input type="checkbox" name = "dieselsupplier" [(ngModel)]="isdieselsupplier" value="dieselsupplier" class="mr-1" >Is He A DieselSupplier</label>
            </div>
                <div class="form-group">
                    <label class="mr-2"> Email <input type="email" name="email" [(ngModel)]="email"/></label>
                </div>
                <div class="form-group w-50">
                    <label class="mr-2">Phone No:<input type="number" name="telphone" [(ngModel)]="telphone"/> </label>
                </div>
                <div class="form-group w-50">
                    <label class="mr-2">Address    <textarea type="text" name="address" [(ngModel)]="address"></textarea></label>
                </div>
                 <button  (click)="addAgency()" >Add</button>

                </div>   
                </div>

        <div class="row"  *ngIf="showMsg">
            <div class="col-xs-12">
                <p class="alert alert-success">
                    <strong>New Agency Added Succesfully!</strong> 
                </p>
            </div>
            </div> 
        </div>
        <!--Second Tab Edit update Agency-->
        <div class="tab-pane" id="tab2" [ngClass]="{ 'active':activeTab==='tab2'}">
            <div class="row" *ngIf="!showMsg1">
              <div class="form-group col-sm-10 my-lg-5 w-50">
                   <div class="mr-2 dropdown">
                     <label for="customSelect">Edit Agency Details :</label> 
                      <select placeholder="Supplier Name" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                         id="select-type-basic" [(ngModel)]="agencyMSelected" (ngModelChange)="getAgencyDetails()" name ="agencyList">
                         <option value='' selected>Select Supplier you want to edit</option>
                         <option *ngFor="let i of agencyList" value="{{i.id}}">{{i.agencyName}}</option>
                      </select>
                   </div>
                 <div class= "d-inline-flex"> 
                      <label class="mr-2"><input type="checkbox" [(ngModel)]="flag1M" class="mr-1">Is He A Supplier</label>
                  </div>
                
                   <div class= "d-inline-flex">
                      <label class="mr-2"><input type="checkbox" [(ngModel)]="flag3M" class="mr-1">Is He A Tranporter</label>
                   </div>
                   <div class= "row d-inline-flex p-3">
                      <label class="mr-2"><input type="checkbox" [(ngModel)]="flag2M"  class="mr-1">Is He A Account Holder</label>
                   </div>
                   <div class= "d-inline-flex"> 
                    <label class="mr-2"><input type="checkbox" [(ngModel)]="flag4M" class="mr-1">Is He A Diesel Supplier</label>
                </div>
              
                    <div class="form-group">
                        <label class="mr-2"> Email   <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="agency1.email" placeholder="Enter their email"></label>
                    </div>
                    <div class="form-group w-50">
                            <label class="mr-2"> Ph Number    <input class="form-control" type="tel" id="example-tel-input" [(ngModel)]="agency1.phoneNumber" placeholder="Enter their Phone number"></label>
                    </div>
                     <div class="form-group w-50">
                        <label class="mr-2"> Address   <textarea class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="agency1.address" placeholder="Enter Address"></textarea></label>
                    </div>
                      <button  (click)="updateAgency()" >Update Agency</button>
                </div>       
            </div>
            <div class="row"  *ngIf="showMsg1">
                <div class="col-xs-12">
                  <p class="alert alert-success">
                      <strong>Agency Details Updated succesfully!</strong> 
                  </p>
                </div>
              </div> 
        </div>

        <!--Third Tab site details-->
        <div class="tab-pane" id="tab3" [ngClass]="{ 'active':activeTab==='tab3'}" >
            <div class="row" *ngIf="!showMsg" >
                <div class="form-group col-sm-10 my-lg-5">
                  <div class=" form-group w-50">
                     <input class="form-control" type="text" placeholder="Enter New Site Name" id="example-text-input" name="sitename" [(ngModel)]="sitename">
                  </div>

                    <div class="form-group w-100">
                      <input class="form-control" type="text" placeholder="Enter Site Details" id="example-text-input" name="details" [(ngModel)]="details">
                    </div>
                    <div class="form-group w-50 dropdown">
                       <select placeholder="Type of work" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                          id="select-type-basic" [(ngModel)]="typeofworkSelected" name ="typeofwork">
                          <option value='' selected>Select the Type of Work</option>
                          <option *ngFor="let i of typeofworklist" value="{{i.id}}">{{i.typeOfWork}}</option>
                      </select>
                    </div>

                    <div class=" form-group w-50">
                       <input class="form-control" type="number" placeholder="AOC including GST" id="example-text-input" name="estcost" [(ngModel)]="estcost">RS
                    </div>

                    <div class=" form-group w-50">
                      <input class="form-control" type="number" placeholder="AOC exclusing GST" id="example-text-input" name="estcostnogst" [(ngModel)]="estcostnogst">RS
                   </div>

                    <div class="form-group w-50">
                        <input class="form-control" type="date" placeholder="Date of Work Started" id="example-text-input" name="startdate" [(ngModel)]="startdate">
                    </div>

                    <button type="submit" class="btn btn-success" size="12" (click)="addSiteDetails()"  >Add Site</button>
                </div>    
            </div>  
        <div class="row"  *ngIf="showMsg">
            <div class="col-xs-12">
              <p class="alert alert-success">
                  <strong>Site Details Added Succesfully!</strong> 
              </p>
            </div>
          </div> 
        </div>
<!--Fourth Tab Update Site Details-->
<div class="tab-pane" id="tab4" [ngClass]="{ 'active':activeTab==='tab4'}">
    <div class="col-sm-10 my-lg-5" *ngIf="!showMsg4">
        <div class="form-group w-50 dropdown">  
            <select placeholder="Supplier Name" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                         id="select-type-basic" [(ngModel)]="sitenameSelected1" (ngModelChange)="getSiteDetails()" name ="sitenlist" >
                         <option value='' selected>Select Site you want to edit</option>
                         <option *ngFor="let i of sitenamelist" value="{{i.id}}">{{i.siteName}}</option>
                      </select>        
        </div>
    
        <div class="form-group w-100">
            <input class="form-control" type="text" placeholder="Site Details" id="example-text-input"  [(ngModel)]="site1.details">
        </div>
        <div class="form-group w-50 dropdown">          
            <select placeholder="Type of work" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                id="select-type-basic" [(ngModel)]="typeofworkMSelected" name ="typeofwork" >
                    <option value='' selected>The Type of Work</option>
                    <option *ngFor="let i of typeofworklist" value="{{i.id}}">{{i.typeOfWork}}</option>
            </select>
        </div>
   
        <div class=" form-group w-50">
            <input class="form-control" type="number" placeholder="Estimated Cost With GST" id="example-text-input" [(ngModel)] ="site1.estcost" >
            <label>Rs </label>
        </div>
        <div class=" form-group w-50">
          <input class="form-control" type="number" placeholder="Estimated Cost withour GST" id="example-text-input" [(ngModel)] ="site1.estcostnogst" >
          <label>Rs </label>
      </div>
    
        <div class="form-group w-50">
            <input class="form-control" type="date" placeholder="Date of Work Started" id="example-text-input" [(ngModel)]="site1.startdate" >
        </div>

        <div class= "d-inline-flex"> 
            <label class="mr-2"><input type="checkbox" [(ngModel)]="flagS" class="mr-1">Site Work Completed</label>
        </div>
        
        <button type="submit" class="btn btn-success"  (click)="updateSiteDetails()" size="12">Update</button>
    </div>
    <div class="row"  *ngIf="showMsg4">
        <div class="col-xs-12">
          <p class="alert alert-success">
              <strong>Site Details updated Succesfully!</strong> 
          </p>
        </div>
      </div> 
</div>
        
<!--Fifth Tab new Material details-->
        <div class="tab-pane" id="tab5" [ngClass]="{ 'active':activeTab==='tab5'}">
            <div class="form-group col-sm-10 my-lg-5 w-50" *ngIf="!showMsg5" >
                <div class=" form-group w-50">
                    <input class="form-control" type="text" placeholder="Enter Material Name" id="example-text-input" name="materialname" [(ngModel)]="materialname" >
                </div>

                <button type="submit" (click)="addMaterial()" class="btn btn-success" size="12">Add Material</button>
            </div> 
            <div class="row"  *ngIf="showMsg5">
                <div class="col-xs-12">
                  <p class="alert alert-success">
                      <strong>Material added Succesfully!</strong> 
                  </p>
                </div>
              </div>       
        </div>
<!--Sixth Tab Material Rate details-->
        <div class="tab-pane" id="tab6" [ngClass]="{ 'active':activeTab==='tab6'}">
            <div class="form-group col-sm-10 my-lg-5 w-50"  *ngIf="!showMsg6">
                <div class=" form-group w-50 dropdown">
                    <label>Update the Material Rate :</label>
                    <select placeholder="For which Supplier" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                    id="select-type-basic" [(ngModel)]="supplierMSelected" name ="suppliernameListM">
                    <option value='' selected>For which Supplier</option>
                    <option *ngFor="let i of supplierListM" value="{{i.id}}">{{i.agencyName}}</option>
                  </select>
                
                </div>
                
                <div class="form-group">
                    
                    <select placeholder="Material Name" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                    id="select-type-basic" [(ngModel)]="materialSelected"  name ="materialNameList">
                    <option value='' selected>Select the Material</option>
                    <option *ngFor="let i of materialList" value="{{i.id}}">{{i.materialName}}</option>
                    </select>
                    <br>
                    <div class="col form-group mr-2">
                             
                    <select placeholder="Unit" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                          id="select-type-basic" [(ngModel)]="unitSelected" (ngModelChange)="getMaterialRate()" name ="unitListName">
                          <option value='' selected>Select a Unit</option>
                          <option *ngFor="let i of units" value="{{i.id}}">{{i.unitname}}</option>
                        </select>  
                      </div>
                    <label > Current rate is : {{materialCost1.rate}} rs</label>
                </div>
                <div class="form-group w-50 mr-2">
                    <label class="sr-only text-white" for="NewRate">New Material Rate</label>
                   <input type="number" class="form-control dropdown-toggle" size="3" [(ngModel)]="newrate" id="NewRate" placeholder="Add New Rate">
                </div>
                <div class="form-group w-50">
                    <input class="form-control" type="date" [(ngModel)]="trandate" name = "trandate" placeholder="Date of Rate Change" id="example-text-input">
                </div>
                <button type="submit" (click)="updateMaterialRate()" class="btn btn-success" size="12">Update Material</button>
            </div> 
            <div class="row"  *ngIf="showMsg6">
              <div class="col-xs-12">
                <p class="alert alert-success">
                    <strong>Material rate updated Succesfully!</strong> 
                </p>
              </div>
            </div>        
        </div>

      <!--seventh Tab Vehicle details-->
        <div class="tab-pane" id="tab7" [ngClass]="{ 'active':activeTab==='tab7'}">
            <div class="form-group col-sm-10 my-lg-5 w-50" *ngIf="!showMsg7" >
                <div class=" form-group w-50">
                    <input class="form-control" type="text" [(ngModel)]="vehicle" name="vehicle" placeholder="Enter New Vehicle" id="example-text-input">
                </div>
                <button type="submit" (click)="addVehicle()" class="btn btn-success" size="12">Add New Vehicle</button>
            </div>  
            <div class="row"  *ngIf="showMsg7">
              <div class="col-xs-12">
                <p class="alert alert-success">
                    <strong>New vehicle added Succesfully!</strong> 
                </p>
              </div>
            </div>               
        </div>

    <!--eighth Tab user details-->
        <div class="tab-pane" id="tab8" [ngClass]="{ 'active':activeTab==='tab8'}">
            <form>
                <div class="form-group col-sm-10 my-lg-5 w-50">
                  
                  <div class="form-group w-50">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group w-50">
                    <label class="sr-only" for="inlineFirstName">First Name</label>
                    <input type="text" class="form-control mb-2" id="inlineFirstName" placeholder="First Name">
                  </div>
                  <div class="form-group w-50">
                    <label class="sr-only" for="inlineFormInput">Last Name</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Last Name">
                  </div>

                  <div class="form-group w-25">
                    <label class="sr-only" for="inputemail">Email address</label>
                    <input type="email" class="form-control" id="inputemail1" placeholder="Enter email">
                  </div>

                  <div class="form-group w-25">
                    <label class="sr-only" for="phonenumber">Ph No</label>
                    <input type="tel" class="form-control" id="phonenumber" placeholder="Enter Ph No">
                  </div>

                  <div class="form-group w-50 mr-2 dropdown">
                    <label tabindex="0" type="text" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false"
                    >Employee Role</label>
                </div>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                  </div>
              </form>    
        </div>



        















    <!------------------ End--------------------------->
  </div>
</div>


