<div class="container" style="margin-top: 150px;">

  <div class="row" *ngIf="!showMsg">

    <!--<div class="col-sm-8 offset-sm-2">-->
    <div class="jumbotron" style="background-color: lightgoldenrodyellow">
      <h2 class="text-left text-danger">Enter Machinery / Vehicle Data</h2>

      <form name="fueldistform" (ngSubmit)="onSubmit()">

        <div class="row">

          <div class="form-group mr-2 ">
            <label for="customSelect">Transaction Date :</label>
            <input type="date" class="form-control input-sm" name="transactiondate" [(ngModel)]="transactiondate"
              size="5" id="inputdate" placeholder="TransactionDate">

          </div>

          <div class=" form-group mr-2 dropdown">
            <label for="customSelect">Site Name :</label>
            <select placeholder="Site Name" class="form-control dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false" id="select-type-basic" [(ngModel)]="sitenameSelected" name="siteNameList">
              <option value='' selected>(none)</option>
              <option *ngFor="let i of siteNames" value="{{i.id}}">{{i.siteName}}</option>
            </select>
          </div>

        </div>
        <div class="row">

          <div class="form-group mr-2 dropdown">
            <label>Agency Name</label>
            <select placeholder="Supplier Name" class="form-control dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false" id="select-type-basic" [(ngModel)]="agencyMSelected"
              (ngModelChange)="getAgencyDetails()" name="agencyList">
              <option value='' selected>Select Agency</option>
              <option *ngFor="let i of agencyList" value="{{i.id}}">{{i.agencyName}}</option>
            </select>
          </div>


          <div class="form-group mr-2 dropdown">
            <label for="customSelect">Account Holder:</label>
            <select placeholder="Account Holder" class="form-control dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false" id="select-type-basic" [(ngModel)]="accountHolderSelected" name="accountHolderName">
              <option value='' selected>(none)</option>
              <option *ngFor="let i of accountHolders" value="{{i.id}}">{{i.agencyName}}</option>
            </select>
          </div>
        </div>




        <div class="row">
          <div class=" form-group mr-2">
            <label for="customSelect">Machinery / Vehicle :</label>
            <select placeholder="Vehicle Type" class="form-control dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false" id="select-type-basic" [(ngModel)]="vehicleSelected" name="vehiclesNameList">
              <option value='' selected>(none)</option>
              <option *ngFor="let i of vehicles" value="{{i.id}}">{{i.vehicleType}}</option>
            </select>
          </div>
          <div class=" form-group mr-2 ">
            <label for="inputVehicleNumber">Machinery / Vehicle Number :</label>
            <input type="text" class="form-control input-sm" name = "inputVehicleNumber" size="10" [(ngModel)]="vehicleNumSelected" id="inputVehicleNumber" placeholder="VehicleNO">
          </div>

        </div>

        <div class="row">
          <div class=" col form-group mr-2">

            <label>Qty</label>
            <input type="number" class="form-control input-sm" name="qty" size="10" [(ngModel)]="quantityGiven" />
          </div>
          <div class=" col form-group mr-2">
            <label for="customSelect">Duration :</label>
            <select placeholder="Duration" class="form-control dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false" id="select-type-basic" [(ngModel)]="durationSelected" name="durationList">
              
              <option value='hours' selected>Hours</option>
              <option value='days' selected>Day/s</option>
              <option value='weeks' selected>Week/s</option>
              <option value='month' selected>Month/s</option>
              
            </select>
          </div>
          <div class="col form-group mr-2">
            <label for="inputRate">Unit Rate</label>
            <input type="number" class="form-control" size="7" id="inputRate" name="rate" [(ngModel)]="rate" (ngModelChange)="calculateTotal($event)"/>
          </div>
        </div>

        <div class="row">
          <div class="col form-group mr-2">
            <label for="inputRate">Misc</label>
            <input type="number" class="form-control" size="7" id="inputRate" name="miscrate" [(ngModel)]="miscrate" (ngModelChange)="calculateTotal2($event)" />
          </div>

          <div class="col">
            <div class="form-group ">  
            <label for="inputdetails">Details :</label> 
            <input type="text" class="form-control" name="details" [(ngModel)]="details"  id="inputdetails" placeholder="Details"> 
            </div>
          </div>

        </div>


        <div class="row">
          <div class="col form-group mr-2">
            <label for="inputRate">Vehicle Operator Bata</label>
            <input type="number" class="form-control" size="7" id="inputRate" name="batarate" [(ngModel)]="batarate" (ngModelChange)="calculateTotal1($event)"/>
          </div>
          
          <div class="col form-group mr-2">
            <label for="inputRate">Total amount</label>
            <input type="number" class="form-control" size="7" id="inputRate" name="total" [(ngModel)]="total" />
          </div>
        </div>

        <div class="text-center my-lg-5">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>

    </div>

  </div>
  <div class="row" *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
        <strong>Machinery Data saved succesfully!</strong>
      </p>
    </div>
  </div>

</div>