
<div class="container" style="margin-top: 150px;">

  <!--<div class="row">-->

    <!--<div class="col-sm-8 offset-sm-2">-->
      <div class="row" *ngIf="!showMsg">
  <div class="jumbotron" style= "background-color: lightgoldenrodyellow">
      <h2 class="text-left text-danger">Enter Miscellaneous Data</h2>
          
          
          <div class="row">
             <div class="col">
               <div class="form-group mr-2 ">
                <label for="customSelect">Transaction Date :</label> 
                <input type="date" class="form-control" name = "transactiondate" [(ngModel)]="transactiondate" size="5" id="inputdate" placeholder="TransactionDate">
               </div>
             </div>
     
             <div class="col">
               <div class="form-group mr-2 ">  
                 <label for="customSelect">Site Name :</label> 
                 <select placeholder="Supplier Name" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                         id="select-type-basic" [(ngModel)]="sitenameSelected"  name ="sitelist">
                         <option value='' selected>Select Site you want to edit</option>
                         <option *ngFor="let i of sitelist" value="{{i.id}}">{{i.siteName}}</option>
                      </select>   
                </div>
            </div>
   
            <div class="col">
              <div class="form-group ">  
              <label for="inputdetails">Details :</label> 
              <input type="text" class="form-control" name="details" [(ngModel)]="details"  id="inputdetails" placeholder="Details"> 
              </div>
            </div>
  
            <div class = "col">  
              <div class="form-group mr-2">
                    <label for="inputAmount">Amount</label>
                    <input type="number" class="form-control" size="7" id="inputAmount" [(ngModel)]="amount">
              </div>
            </div>

            <div class="text-center my-lg-5">
              <button type="submit" class="btn btn-primary" (click)="addMiscExpense()">Submit</button>
            </div>
          </div>
      

  </div>
</div>
  <div class="row" *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
        <strong>Misc Data saved succesfully!</strong>
      </p>
    </div>
  </div>
  
</div>