<div  class="container" style="margin-top: 150px;">


  <div class="row" *ngIf="!showMsg">
  <div class="jumbotron" style= "background-color: lightgoldenrodyellow" >
     <h2 class="text-left text-danger">Enter Finance Data</h2>
      <div class="info-form ">

      <form (ngSubmit)="onSubmit()">
          
            <div class= "form-group mr-2 w-25" >
             <label for="inputdate">Transaction Date</label>
             <input type="date" class="form-control " size="5" id="inputdate" name = "transactiondate" [(ngModel)]="transactiondate" placeholder="TransactionDate">
            </div>
            <div class="row">
          <div class="col">
            <div class="form-group mr-2 dropdown">
              <label>Agency Name</label>
              <select placeholder="Supplier Name" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
               id="select-type-basic" [(ngModel)]="agencySelected" name ="agencyList">
                <option value='' selected>(none)</option>
                <option *ngFor="let i of agencynamelist" value="{{i.id}}">{{i.agencyName}}</option>
              </select>
            </div>
          </div>
          <div class ="col">          
          <div class="form-group mr-2 dropdown">
               <label>Amount Paid To</label>
                <select placeholder="Amount Paid To" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                  id="select-type-basic" [(ngModel)]="amountpaidSelected" name ="amountpaidtoList">
                  <option value='' selected>(none)</option>
                  <option *ngFor="let i of amountpaidto" value="{{i.id}}">{{i.agencyName}}</option>
                </select>
          </div>
        </div>
        </div>
        <div class="row">
          <div class = "col">
          <div class="form-group mr-2 dropdown">
                <label for="inputdate">Mode Of Payment</label>
                <select placeholder="Amount Paid To" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                id="select-type-basic" [(ngModel)]="modeofpaymentlistSelected"  name ="modeofpaymentlist">
                <option value='' selected>(none)</option>
                <option *ngFor="let i of modeofpaymentlist" value="{{i.paymentType}}">{{i.paymentType}}</option>
                </select>
          </div>
          </div>
          <div class = "col">          
            <div class="form-group mr-2">
                <label for="InputBankName">Bank Name</label>
                <input type="text" class="form-control" id="InputBankName" name="bankName" [(ngModel)]="bankName" />
            </div>
          </div>
          <!--<div class="form-group mr-2 my-lg-5">
            <label class="sr-only" for="inputbankname">Bank Name</label>
            <input type="text" class="form-control" size="15" id="inputbankname" placeholder="Bank Name">
          </div>-->
          <div class = "col">
          <div class="form-group mr-2">
              <label for="inputcheque">Cheque Num</label>
              <input type="text" class="form-control" id="inputcheque" name="chequenum" [(ngModel)]="chequenum"/>
          </div>
        </div>
          <div class = "col">  
          <div class="form-group mr-2">
                <label for="inputAmount">Amount</label>
                <input type="number" class="form-control" size="7" id="inputAmount" name="amount" [(ngModel)]="amount"/>
          </div>
        </div>
        </div>
        <div class ="row">
          <div class = "col">
          <div class="form-group mr-2">
                <label for="inputGST">GST</label>
                <input type="number" class="form-control" size="7" id="inputGST" name="gst" [(ngModel)]="gst"/>
          </div>
        </div>
          <div class = "col">
          <div class="form-group mr-2">
              <label for="inputRoyalty">Royalty</label>
               <input type="number" class="form-control" size="7" id="inputRoyalty" name="royalty" [(ngModel)]="royalty"/>
          </div>
        </div>
          <div class = "col">
          <div class="form-group mr-2">
              <label for="inputPermit">Permit</label>
               <input type="number" class="form-control" size="7" id="inputPermit" name="permit" [(ngModel)]="permit"/>
          </div>
        </div>
        </div>
         <button type="submit" class="btn btn-success">Submit</button>
           
        </form>
      </div>
    </div>
  </div>  <!-- here -->  
  
  <div class="row"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Data saved succesfully!</strong> 
      </p>
    </div>
  </div>
  
</div>
