
<div class="container" style="margin-top: 150px;">

  <div class="row" *ngIf="!showMsg">

    <!--<div class="col-sm-8 offset-sm-2">-->
   <div class="jumbotron" style= "background-color: lightgoldenrodyellow">
      <h2 class="text-left text-danger">Enter Fuel Purchase Data</h2>
        
        <form  name="supplydataform" (ngSubmit)="onSubmit()" >
                <div class="row">     
                        <div class="col">
                          <div class="form-group mr-2 ">
                            <label for="customSelect">Transaction Date :</label> 
                            <input type="date" class="form-control input-sm"  name = "transactiondate" [(ngModel)]="transactiondate"  size="5" id="inputdate" placeholder="TransactionDate" >
                          </div>
                         </div>
                </div>
                <div class="row">
                        <div class=" col form-group w-100 mr-2">
                          <label for="customSelect">FuelType :</label>        
                          <select placeholder="Fuel Type" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                            id="select-type-basic" [(ngModel)]="fuelSelected" name ="fuelList">
                            <option value='' selected>Select fueltype</option>
                            <option *ngFor="let i of fuelList" value="{{i.id}}">{{i.fuelType}}</option>
                          </select>
                        </div>
                </div>
                  <div class="row">
                        <div class="col form-group mr-2">
                          <label for="customSelect">Unit :</label>        
                          <select placeholder="Unit" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                                id="select-type-basic" [(ngModel)]="unitSelected" (ngModelChange)="getMaterialRate()" name ="unitListName">
                                <option value='' selected>Select Unit</option>
                                <option *ngFor="let i of units" value="{{i.id}}">{{i.unitname}}</option>
                          </select>  
                        </div>
                        <div class=" col form-group mr-2 ">
                          <label>QTY :</label>
                          <input type="number" name="q" [(ngModel)]="quantityGiven"/>
                        </div>
                  </div>
                  <div class="row">
                           <div class="col form-group w-50 mr-2">
                              <label for="customSelect">Supplier Name :</label>        
                              <select placeholder="Supplier Name" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                                id="select-type-basic" [(ngModel)]="supplierSelected" name ="supplierList">
                                <option value='' selected>Select a supplier</option>
                                <option *ngFor="let i of supplierList" value="{{i.id}}">{{i.agencyName}}</option>
                              </select> 
                            </div>
                  </div>
                  <div class="row">
                          <div class="col form-group mr-2 w-50">
                            <label for="customSelect">Account Holder:</label> 
                            <select placeholder="Account Holder" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false"
                                id="select-type-basic" [(ngModel)]="accountHolderSelected" name ="accountHolderName"> 
                                <option value='' selected>(none)</option>
                                <option *ngFor="let i of accountHolders" value="{{i.id}}">{{i.agencyName}}</option>
                            </select>
                          </div>      
                  </div>
                  <div class="row">
                          <div class="col form-group mr-2">
                            <label for="inputRate">Rate</label>
                            <input type="number" class="form-control" size="7" id="inputRate" name="rate" [(ngModel)]="rate"(ngModelChange)="valuechange($event)"/>
                          </div> 
                  </div>
                  <div class="row">
                          <div class="col form-group mr-2">
                           <label for="inputAmount">Amount</label>
                           <input type="number" class="form-control" size="7" id="inputAmount" name="amount" [(ngModel)]="amount" onfocus="blur()"/>
                          </div>

                          <div class="col form-group mr-2">
                           <label for="inputInvoiceNumber">Invoice Number :</label>
                           <input type="text" class="form-control input-sm" name = "inputInvoiceNumber" size="5" [(ngModel)]="invoiceNum" id="inputInvoiceNumber" placeholder="InvoiceNO">
                          </div>
      
                          <div class="text-center my-lg-5">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                          </div>
                  </div>
     </form>

   </div>

  </div>
  <div class="row"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Data saved succesfully!</strong> 
      </p>
    </div>
  </div>
  
</div>

