<div class="container"style="margin-top: 70px;">
  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{heading}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body"> <div *ngIf='show'>
          <ag-grid-angular 
   style="width: 100%; height: 180px ;" domLayout="autoHeight"
   class="ag-theme-balham" (gridReady)="onGridReady1($event)"
   [columnDefs]="columnDefsS" [rowData]="suppData" 
   pagination="true" paginationPageSize=20  scrollbarWidth="8"
   >
</ag-grid-angular></div>
<div *ngIf='show1'>
  <ag-grid-angular 
style="width: 100%; height: 180px ;" domLayout="autoHeight"
class="ag-theme-balham" (gridReady)="onGridReady2($event)"
[columnDefs]="columnDefsT" [rowData]="transportData" 
pagination="true" paginationPageSize=20  scrollbarWidth="8"
>
</ag-grid-angular></div>
<div *ngIf='show2'>
  <ag-grid-angular 
style="width: 100%; height: 180px ;" domLayout="autoHeight"
class="ag-theme-balham" (gridReady)="onGridReady3($event)"
[columnDefs]="columnDefsF" [rowData]="fuelData" 
pagination="true" paginationPageSize=20  scrollbarWidth="8"
>
</ag-grid-angular></div>
        
     <div *ngIf='show3'>
          <ag-grid-angular 
        style="width: 100%; height: 180px ;" domLayout="autoHeight"
        class="ag-theme-balham" (gridReady)="onGridReady4($event)"
        [columnDefs]="columnDefsFin" [rowData]="financeData" 
        pagination="true" paginationPageSize=20  scrollbarWidth="8"
        >
        </ag-grid-angular></div>
                </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

<h3>Summary Data</h3>
   <ag-grid-angular 
   style="width: 100%; height: 180px ;" domLayout="autoHeight"
   class="ag-theme-balham" (gridReady)="onGridReady($event)"
   [columnDefs]="columnDefs" [rowData]="summaryData" 
  
   pagination="true" paginationPageSize=20  scrollbarWidth="8"
   [frameworkComponents]="frameworkComponents"
   >
</ag-grid-angular>


  </div>

  <!--<ag-grid-angular 
  style="width: 100%; height: 150px ;" domLayout="autoHeight"
  class="ag-theme-balham" (gridReady)="onGridReady($event)"
  [columnDefs]="columnDefs" [rowData]="summaryData"  
  pagination="true" paginationPageSize=20  scrollbarWidth="5"
  [frameworkComponents]="frameworkComponents">
</ag-grid-angular> -->