

   <div class="container"style="margin-top: 70px;">
  
         <!-- The Modal -->
  <div class="modal" id="siteModal">
   <div class="modal-dialog modal-xl">
     <div class="modal-content">
 
       <!-- Modal Header -->
       <div class="modal-header">
         <h4 class="modal-title">{{heading}}</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
 
       <!-- Modal body -->
       <div class="modal-body"> 
         <div *ngIf='showsupply'>
         <ag-grid-angular 
         style="width: 100%; height: 180px ;" domLayout="autoHeight"
         class="ag-theme-balham" (gridReady)="onGridReady1($event)"
         [columnDefs]="columnDefsS" [rowData]="supplyData" 
         pagination="true" paginationPageSize=20  scrollbarWidth="8"
         [frameworkComponents]="frameworkComponents"  
         (cellValueChanged)="onCellValueChanged($event)"
         >
        </ag-grid-angular></div>

        <div *ngIf='showtransport'>
         <ag-grid-angular 
         style="width: 100%; height: 180px ;" domLayout="autoHeight"
         class="ag-theme-balham" (gridReady)="onGridReady2($event)"
         [columnDefs]="columnDefsT" [rowData]="transportData" 
         pagination="true" paginationPageSize=20  scrollbarWidth="8"
         [frameworkComponents]="frameworkComponents">
        </ag-grid-angular></div>

        <div *ngIf='showmisc'>
         <ag-grid-angular 
         style="width: 100%; height: 180px ;" domLayout="autoHeight"
         class="ag-theme-balham" (gridReady)="onGridReady3($event)"
         [columnDefs]="columnDefsM" [rowData]="miscData" 
         pagination="true" paginationPageSize=20  scrollbarWidth="8"
         [frameworkComponents]="frameworkComponents">
        </ag-grid-angular></div>

        <div *ngIf='showmachine'>
          <ag-grid-angular 
          style="width: 100%; height: 180px ;" domLayout="autoHeight"
          class="ag-theme-balham" (gridReady)="onGridReady4($event)"
          [columnDefs]="columnDefsMc" [rowData]="machinaryData" 
          pagination="true" paginationPageSize=20  scrollbarWidth="8"
          [frameworkComponents]="frameworkComponents">
         </ag-grid-angular></div>

       </div>
 
       <!-- Modal footer -->
       <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
 
     </div>
   </div>
 </div>


      <h3>Site Data</h3>
        <ag-grid-angular 
           style="width: 100%; height: 800px ;" domLayout="autoHeight"
           class="ag-theme-balham" (gridReady)="onGridReady($event)"
           [columnDefs]="columnDefs" [rowData]="siteData"  
           pagination="true" paginationPageSize=20  scrollbarWidth="10"
          >
        </ag-grid-angular>
      
        </div>


  