
<div class="container" style="margin-top: 150px;">

  <div class="row" *ngIf="!showMsg">

    <!--<div class="col-sm-8 offset-sm-2">-->
   <div class="jumbotron" style= "background-color: lightgoldenrodyellow">
      <h2 class="text-left text-danger">Enter Supply Data</h2>
        
        <form  name="supplydataform" (ngSubmit)="onSubmit()" >
          
          <div class="row">
            <div class="col">
              <div class="form-group mr-2 ">
                <label for="customSelect">Transaction Date :</label> 
                <input type="date" class="form-control"  name = "transactiondate" [(ngModel)]="transactiondate"  size="5" id="inputdate" placeholder="TransactionDate" >
              </div>
            </div>
     
            <div class="col">
              <div class="form-group mr-2 ">  
               <label for="customSelect">Site Name :</label> 
               <select placeholder="Site Name" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                 id="select-type-basic" [(ngModel)]="sitenameSelected" name ="siteNameList">
                 <option value='' selected>(none)</option>
                 <option *ngFor="let i of siteNames" value="{{i.id}}">{{i.siteName}}</option>
               </select>  
              </div>
            </div>
       
              <div class="col form-group mr-2">
               <label for="customSelect">Item Of Work :</label> 
               <select placeholder="Item Of Work" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false"
                   id="select-type-basic" [(ngModel)]="itemOfWorkSelected" name ="itemOfWorkName">   
                  <option value='' selected>(none)</option>
                  <option *ngFor="let i of itemOfWork" value="{{i.id}}">{{i.abbrevation}}</option>
               </select>  
              </div>
            </div>

          <div class="form-group mr-2 w-50">
              <label for="customSelect">Account Holder:</label> 
              <select placeholder="Account Holder" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false"
                id="select-type-basic" [(ngModel)]="accountHolderSelected" name ="accountHolderName"> 
                <option value='' selected>(none)</option>
                <option *ngFor="let i of accountHolders" value="{{i.id}}">{{i.agencyName}}</option>
              </select>
        </div>

        <div class="form-group w-50 mr-2">
          <label for="customSelect">Supplier Name :</label>        
            <select placeholder="Supplier Name" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
              id="select-type-basic" [(ngModel)]="supplierSelected" name ="supplierList">
                <option value='' selected>(none)</option>
                <option *ngFor="let i of supplierList" value="{{i.id}}">{{i.agencyName}}</option>
            </select>
        </div>
      
      <div class ="row">  
        <div class="col form-group mr-2 w-25">
            <label for="customSelect">Material :</label>        
              <select placeholder="Material" class="form-control dropdown-toggle" data-toggle="dropdown" 
               aria-expanded="false" id="select-type-basic" [(ngModel)]="materialSelected"  name ="materialList">
                <option value='' selected>(none)</option>
                <option *ngFor="let i of materialList" value="{{i.id}}">{{i.materialName}}</option>
              </select>
        </div>

        <div class="col form-group mr-2">
          <label for="customSelect">Unit :</label>        
          <select placeholder="Unit" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
            id="select-type-basic" [(ngModel)]="unitSelected" (ngModelChange)="getMaterialRate()" name ="unitListName">
            <option value='' selected>(none)</option>
            <option *ngFor="let i of units" value="{{i.id}}">{{i.unitname}}</option>
          </select>  
        </div>

        <div class="col form-group mr-2 ">
              <label for="inputmaterialcost">MaterialCost :</label>
              <input type="text" onFocus="blur" class="form-control" [(ngModel)]="materialCost1.rate" name="materialCost1" size="5" id="inputmaterialcost" placeholder="MaterialCost">
        </div>
  
          <div class=" col form-group mr-2 ">
              <label>QTY :</label>
              <input type="number" name="q" [(ngModel)]="quantityGiven"/>
            </div>
    </div>
      <div class="form-group mr-2 w-50">
        <label for="customSelect">Transporters :</label>  
        <select placeholder="Transporters" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
            id="select-type-basic" [(ngModel)]="transporterSelected" name ="transporterListName">
            <option value='' selected>(none)</option>
            <option *ngFor="let i of transporterList" value="{{i.id}}">{{i.agencyName}}</option>
        </select>
      </div>

      <div class="row">
      <div class=" col form-group mr-2">
        <label for="customSelect">Vehicle :</label>        
        <select placeholder="Vehicle Type" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
          id="select-type-basic" [(ngModel)]="vehicleSelected" name ="vehiclesNameList">
          <option value='' selected>(none)</option>
          <option *ngFor="let i of vehicles" value="{{i.id}}">{{i.vehicleType}}</option>
        </select>
      </div>

      <div class="col form-group mr-2">
        <label for="inputVehicleNumber">Vehicle Number :</label>
        <input type="text" class="form-control input-sm" name = "inputVehicleNumber" size="10" [(ngModel)]="vehicleNumSelected" id="inputVehicleNumber" placeholder="VehicleNO">
      </div>
      </div>
      <div class="row">
      <div class="col form-group  w-25 mr-2">
        <label for="NoOfTrips">No Of Trips :</label>
       <input type="number" class="form-control" name = "noOfTrips" size="3" [(ngModel)]="NoofTripsEntered" id="NoOfTrips" placeholder="NoOfTrips">
      </div>

      <div class="col form-group  w-25 mr-2">
        <label for="NoOfTrips">No Of Kms :</label>
       <input type="number" class="form-control" name = "noOfkms" size="3" [(ngModel)]="NoofkmsEntered" id="noOfkms" placeholder="Kms">
      </div>

      <div class="col form-group mr-2">
        <label>Distance Type :</label>
            <select placeholder="Distance Type" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
              id="select-type-basic" [(ngModel)]="distanceSelected" name ="distanceNameList">
              <option value='' selected>(none)</option>
              <option *ngFor="let i of distance" value="{{i.id}}">{{i.distanceType}}</option>
            </select>
      </div>
      <div class="col form-group mr-2">
        <label>Transportation Cost :</label>
        <input type="number" class="form-control" size="10" name = "TransportationCost" [(ngModel)]="TransCostEntered" id="TransportationCost" placeholder="TrspCost" (ngModelChange)="valuechange($event)">
      </div>
      
      </div>
      <div class="row">
        <div class="col form-group mr-2">
          <label> Total Transportation Cost :</label>
          <input type="number" class="form-control" size="10" name = "totaltransportcost" [(ngModel)]="totaltransportcost" id="totaltransportcost" placeholder="totaltransportcost">
        </div>
      <div class=" col form-group w-25 mr-2 ">
        <label>Invoice :</label>
        <input type="text" class="form-control" size="10" name = "invoice" [(ngModel)]="invoiceNum" id="invoice" placeholder="invoice">
            
      </div>
   
      <div class=" col form-group w-45 mr-2 ">
      <label>Remarks :</label>
      <input type="text" class="form-control" size="10" name = "remarks" [(ngModel)]="remarks" id="remarks" placeholder="remarks">
      </div>
    </div>
   
  <div class="text-center">
    <button type="submit" class="btn btn-primary" >Submit</button>
  </div>

    
        
      </form>

   </div>

  </div>
  <div class="row"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Data saved succesfully!</strong> 
      </p>
    </div>
  </div>
  
</div>

