
<div  class="container" style="margin-top: 150px;">


  <div class="row" *ngIf="!showMsg">
    <!--<div class="col-sm-8 offset-sm-2">-->
   <div class="jumbotron" style= "background-color: lightgoldenrodyellow">
      <h2 class="text-left text-danger">Enter Fuel Distribution Data</h2>
        
        <form  name="fueldistform" (ngSubmit)="onSubmit()" >
                <div class="row">
                        <div class="col">
                          <div class="form-group mr-2 ">
                            <label for="customSelect">Transaction Date :</label> 
                            <input type="date" class="form-control input-sm"  name = "transactiondate" [(ngModel)]="transactiondate"  size="5" id="inputdate" placeholder="TransactionDate" >
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group mr-2 dropdown">
                            <label>Agency Name / Transporter</label>
                            <select placeholder="Supplier Name" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                             id="select-type-basic" [(ngModel)]="agencySelected" name ="agencyList">
                              <option value='' selected>(none)</option>
                              <option *ngFor="let i of agencyList" value="{{i.id}}">{{i.agencyName}}</option>
                            </select>
                          </div>
                      </div>
                    </div>
                      <div class="row">
                              <div class="col form-group mr-2">
                                <label for="customSelect">Account Holder:</label> 
                                <select placeholder="Account Holder" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false"
                                    id="select-type-basic" [(ngModel)]="accountHolderSelected" name ="accountHolders"> 
                                    <option value='' selected>(none)</option>
                                    <option *ngFor="let i of accountHolders" value="{{i.id}}">{{i.agencyName}}</option>
                                </select>
                              </div>      
                              <div class=" col form-group mr-2">
                                <label for="customSelect">Machinery / Vehicle :</label>        
                                <select placeholder="Vehicle Type" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                                  id="select-type-basic" [(ngModel)]="vehicleSelected" name ="vehicles">
                                  <option value='' selected>(none)</option>
                                  <option *ngFor="let i of vehicles" value="{{i.id}}">{{i.vehicleType}}</option>
                                </select>
                              </div>
                        
              </div>

              

              

                <div class="row">
                  <div class=" col form-group mr-2 ">
                    <label>Machinery / Vehicle Number :</label>
                    <input type="text" class="form-control input-sm" name = "inputVehicleNumber" size="10" [(ngModel)]="vehicleNumSelected" 
                    id="inputVehicleNumber" placeholder="VehicleNO">
                  </div>
                  <div class=" col form-group w-50 mr-2">
                    <label for="customSelect">FuelType :</label>        
                    <select placeholder="Fuel Type" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                      id="select-type-basic" [(ngModel)]="fuelSelected" name ="fuelList" (ngModelChange)="getAvailableFuelQty()">
                      <option value='' selected>(none)</option>
                      <option *ngFor="let i of fuelList" value="{{i.id}}">{{i.fuelType}}</option>
                    </select>
                  </div>
                 
              </div>

                <div class="row">
                  
                  <div class="col form-group mr-2">
                    <label for="customSelect">Unit :</label>        
                    <select placeholder="Unit" class="form-control dropdown-toggle" data-toggle="dropdown"aria-expanded="false" 
                    id="select-type-basic" [(ngModel)]="unitSelected" (ngModelChange)="getMaterialRate()" name ="unitListName">
                    <option value='' selected>Select Unit</option>
                    <option *ngFor="let i of units" value="{{i.id}}">{{i.unitname}}</option>
              </select>  
               </div>
               <div class=" col form-group mr-2 ">
                <label>Used QTY :</label>
                <input type="number" class="form-control input-sm" name = "qty" size="10" [(ngModel)]="quantityGiven"/>
                 </div>
                  <div class=" col form-group mr-2 ">
                          <label>Remaining Qty :</label>
                          <input type="number" class="form-control input-sm" name = "rqty" size="10" [(ngModel)]="remainingqty" onfocus="blur()"/>
                  </div>
                  
                </div>
               
                          <div class="text-center my-lg-5">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                          </div>
                  
     </form>

   </div>
</div>
  
  <div class="row"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Data saved succesfully!</strong> 
      </p>
    </div>
  </div>
  
</div>

