
<div class="jumbotron" style= "background-color: lightgoldenrodyellow">
  <h1 class = "text-center"> Welcome to SSB Constructions</h1>
   
  
  <h2><i>{{FirstTypeWork}}</i></h2>
  <img src="assets/image/road1.png" width = "1285px" height = 600px alt="Road">
  <h3>{{roadPara}}</h3>
  <form  name="loginform" (ngSubmit)="onSubmit()" >
    
  </form>
 
</div>
