h1 {
    display: block;
    font-size: l;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: "HelveticaNeue-Light";
    color: chocolate;

  }

  h2 {
    text-align: center;
    display: block;
    font-size: s;
    font-weight: bold;
    color: goldenrod ;
    font-family: "Times New Roman", Times, serif;
  }

  h3 {
    font-size: 25px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-family: "Times New Roman", Times, serif;
    color: grey ;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  