<div class="container"style="margin-top: 70px;">


   

    <h3>Transport Data</h3>
  <ag-grid-angular 
     style="width: 100%; height: 800px ;" domLayout="autoHeight"
     class="ag-theme-balham" (gridReady)="onGridReady($event)"
     [columnDefs]="columnDefs" [rowData]="transportdata"  
     pagination="true" paginationPageSize=20  scrollbarWidth="10"
    >
    
  </ag-grid-angular>

</div>